:host {
    border: 2px dashed rgb(255, 255, 255);
    display: block;
    padding: 16px;
    margin: 0 auto 16px;
    max-width: 500px;
    border-radius: 25px;
    background-color: black;
  


  
  header {
    font-size: 30px;
    margin-bottom: 8px;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  p {
    font-weight: bold;
  }
  .title.notype{
   
    color: rgb(0, 253, 67);
    text-align: center;
    font-size: 1.2em;

}
.notype{
    color: rgb(0, 253, 67);
    text-align: center;
    font-size: 1.2em;
}
}