:host {
    border: 2px dashed crimson;
    display: block;
    padding: 16px;
    margin: 0 auto 16px;
    max-width: 500px;
    border-radius: 25px;
}

  
  header {
    font-size: 30px;
    margin-bottom: 8px;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  p {
    font-weight: bold;
  }